

<body>



    <div class="container container-int">



        <div class="row">
            <div class="col-lg-12">

                <hr />
                <div class="col-md-12">
                    <div class="alert alert-primary" role="alert">

                    </div>

                </div>

                <hr />



            </div>

            <div class="col-md-8 col-sm-8">
                <div class="col-md-9">

                    <form class="form-group">

                        <div>
                            ALINAN FİYAT : <input type="text" name="sayi1" id="sayi1" /> <br /><br />
                            SATILAN FİYAT :<input type="text" name="sayi2" id="sayi2" /> <br /><br />
                            KAR: @ViewBag.snc
                            <button>HESAPLA</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/switcher/switcher.js"></script>
    <link href="js/switcher/switcher.css" rel="stylesheet">

</body>
