@model BAYILERSATISPROJESI.Models.User

@{

    if (Session["UserID"] == null)
    {
        Response.Redirect("/Home/YoneticiGirisi");
    }
}

<div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('/banzhow/img/arkaplan.jpeg');"></div>
            <div class="carousel-caption">

                <a href="#" class="button">ALINAN SİPARİŞLER</a>
                <a href="/Urun/UrunEkle" class="button" >ÜRÜN EKLEME</a>
                <a href="#" class="button">ÜRÜN STOK/HAMMADDE</a>
            </div>
        </div>

    </div>

    <!-- Controls -->

</div>