<form method="post" class="form-group">
    <div>
        <label>ÜRÜN ID</label>
        <input type="text" class="form-control" name="Id" />


    </div>
    <div>
        <label>ÜRÜN AD</label>
        <input type="text" class="form-control" name="Isim" />


    </div>
    <div>
        <label>AÇIKLAMA</label>
        <input type="text" class="form-control" name="Aciklama" />


    </div>
    <div>
        <label>FİYAT</label>
        <input type="text" class="form-control" name="Fiyat" />


    </div>
    <div>
        <label>STOK ADET</label>
        <input type="text" class="form-control" name="StokAdeti" />


    </div>
    <div style="margin-top:15px">

        <button class="btn btn-info">Ürün Ekle</button>
    </div>
</form>
